<%- include header %>

<script src="/javascripts/ol-debug.js"></script>
<script src="/javascripts/angular.js"></script>
<script src="/javascripts/ol3-layerswitcher.js"></script>
<div  ng-app="myApp" ng-controller="mapCtrl">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="map" class="map"></div>
        <div id="info" class="info">
          <span>ImageSize: <input type="range" min="30" max="100" value="40" 
                                  ng-model="imgSize" ng-model-options="{updateOn:'blur'}"
                                  ng-change="onSizeChange()">
            <span ng-bind="imgSize"></span>
          </span>
          <span>DScore: <input type="number" min="0" max="9" value="9"
                               ng-model="dScore" ng-model-options="{updateOn:'blur'}"
                               ng-change="onDSChange()">
          </span></br>
          Images in viewport: <span ng-bind="imgCount"></span></br>
          Big images count: <span ng-bind="bigCount"></span>
          Big images cluster level: <span ng-bind="bigPercent"></span>
          Big images query time: <span ng-bind="bigTime"></span>
          Big images area coverage: <span ng-bind="bigCov"></span></br>
          Small images count: <span ng-bind="smallCount"></span>
          Small images cluster level: <span ng-bind="smallPercent"></span>
          Small images query time: <span ng-bind="smallTime"></span>
          Small images area coverage: <span ng-bind="smallCov"></span></br>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/delaunay.js"></script>
<script src="/javascripts/mapcluster.js"></script>
<script src="/javascripts/map.js"></script>

<%- include footer %>
