<%- include header %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>
<script src="/javascripts/ol.js"></script>
<script src="/javascripts/simple.js"></script>
<%- include footer %>
