body {
  padding-top: 60px;
}
.map {
  height: 400px;
  width: 100%;
}
.ol-attribution {
  max-width: calc(100% - 3em);
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {

}

#tags {
  display: none;
}

body, h1, h2, h3, h4, p, li, td, th {

}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
  padding: 5px;
}
